<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../asster/css/bootstrap.css">
		<link rel="shortcut icon" href="../../asster/image/favicon.ico">
		<link rel="stylesheet" href="../../asster/css/web.css">
		<title>外汇</title>
	</head>
	<body>
		<div id="head"></div>
		<div id="sidebar"></div>
		<div class="bgbar">
			<div class="bg-img">
				<img src="../../asster/image/pc-banner-bg.jpg" alt="">
			</div>
			<div class="bg-text">
				<p>洞悉全球金融事件交易<span>60+</span>主要货币对</p>
				<p><span>T+0</span>双向交易最高达<span>400</span>倍杠杆</p>
			</div>
		</div>
		<div class="whatis minbox d-flex">
			<div class="whatis-img">
				<img src="../../asster/image/pc-what-is-pic.jpg" alt="">
			</div>
			<div class="whatis-right">
				<div class="whatis-title">什么是外汇交易</div>
				<div class="whatis-main">
					什么是外汇交易？外汇交易的英文名称是Forex Exchange，简称FX。外汇交易起初是随国际贸易而产生，也是国际间债券债务关系的工具。随着经济的发展，外汇交易已成为国家重要的金融产品，它的规模超过股市或任何其它市场，是全球最大的金融投资市场之一。所以外汇市场吸引了很多交易者，有初学者，同样也有专业的投资者。外汇是以货币对形式交易，例如欧元/美元(EUR/USD)或美元/日元 (USD/JPY)。
				</div>
				<div class="whatis-button button-link d-flex">
					<a href="#" class="green-a"><div class="green-button">开始外汇交易</div></a>
					<a href="#"><div class="blue-link">注册模拟账户</div></a>
				</div>
			</div>
		</div>
		<div class="middle-title">为什么选择AvaTrade爱华进行外汇交易</div>
		<div class="choose minbox d-flex">
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
		</div>
		<div class="middle-title">AvaTrade爱华有哪些主要外汇产品</div>
		<div class="product-box minbox">
			<table class="table table-bordered">
				<thead class="thead-light">
				  <tr>
					<th scope="col">外汇货币对</th>
					<th scope="col">杠杆</th>
					<th scope="col">MT4交易符号</th>
					<th scope="col">交易</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td><a href="#">欧美/美元</a></td>
					<td>400 : 1</td>
					<td>EURUSD</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				  <tr>
					<td><a href="#">欧美/美元</a></td>
					<td>400 : 1</td>
					<td>EURUSD</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				  <tr>
					<td><a href="#">欧美/美元</a></td>
					<td>400 : 1</td>
					<td>EURUSD</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				  <tr>
					<td><a href="#">欧美/美元</a></td>
					<td>400 : 1</td>
					<td>EURUSD</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				  <tr>
					<td><a href="#">欧美/美元</a></td>
					<td>400 : 1</td>
					<td>EURUSD</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				  <tr>
					<td><a href="#">欧美/美元</a></td>
					<td>400 : 1</td>
					<td>EURUSD</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				  <tr>
					<td><a href="#">欧美/美元</a></td>
					<td>400 : 1</td>
					<td>EURUSD</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				</tbody>
			</table>
		</div>
		<div class="whatis-button button-link d-flex middle">
			<a href="#" class="green-a"><div class="green-button">开始外汇交易</div></a>
			<a href="#"><div class="blue-link">注册模拟账户</div></a>
		</div>
		<div class="money-type">
			<div class="middle-title">外汇交易货币对的分类</div>
			<div class="minbox d-flex">
				<div class="bluebox money-list">
					<div class="money-top">
						直盘货币对
					</div>
					<div class="money-text">
						全球经济强国：美国、日本、英国、欧元区、加拿大、澳大利亚、瑞士和新西兰，这些国家的货币互相配对构成主要货币对，比如七大主要货币对：EUR/USD、USD/JPY、GBP/USD、USD/CAD、USD/CHF、AUD/USD 和 NZD/USD。
					</div>
				</div>
				<div class="yellowbox money-list">
					<div class="money-top">
						交叉盘货币对
					</div>
					<div class="money-text">
						不包括美元的货币对可以称作是次要货币对，是其它主要货币互相配对，例如：EUR/GBP、CHF/JPY等等。还有主要货币与一个次要货币匹配也可以称作奇异货币，例如：EURTRY、USDNOK等。
					</div>
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</body>
	<script src="../../asster/js/jquery-3.5.1.min.js"></script>
	<script src="../../asster/js/jquery.i18n.js"></script>
	<script src="../../asster/js/bootstrap.js"></script>
	<script src="../../asster/js/index.js"></script>
	<script>
		$(function(){
			$('#head').load('../component/NavBar.html', function () {
				let headSrc = document.createElement("script");
				headSrc.src = "../../asster/js/bootstrap.js";
				$('body').append(headSrc)
			});
		});
		$(function(){
			$('#footer').load('../component/Footer.html');
			// $.getScript('../../asster/js/bootstrap.js');
		});
		$(function(){
			$('#sidebar').load('../component/sidebar.html');
			// $.getScript('../../asster/js/bootstrap.js');
		});
		// $('#footer').load('../component/Footer.html');
		// $.getScript('../../asster/js/bootstrap.js');
	</script>
	<style>
		.bg-text{
			top: 180px;
			left: 20%;
			color:#fff;
			font-size: 30px;
			font-weight: 600;
		}
		.bg-text span{
			color:#FF9F00;
			font-size: 40px;
		}
		/*什么是外贸交易*/
		.whatis-right{
			width: 740px;
		}
		.whatis-title{
			font-size: 26px;
			font-weight: 600;
		}
		.whatis-main{
			margin: 32px 0;
			line-height: 32px;
			color:#5a5a5a;
		}
		/*外汇交易货币对的分类*/
		.money-type{
			margin-top: 40px;
			background-color: #f2f2f5;
			padding: 20px 0 30px;
		}
		.money-list{
			width:570px;
			background-color: #fff;
		}
		.money-top{
			height: 50px;
			font-size: 20px;
			font-weight: 800;
			color:#fff;
			line-height: 50px;
			padding-left:40px;
		}
		.bluebox{
			border: 1px solid #2866a8;
		}
		.bluebox .money-top{
			background-color: #2866a8;
		}
		.yellowbox{
			border: 1px solid #f3a52c;
		}
		.yellowbox .money-top{
			background-color: #f3a52c;
		}
		.money-text{
			padding: 30px;
			
		}
	</style>
</html>
