<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../asster/css/bootstrap.css">
		<link rel="shortcut icon" href="../../asster/image/favicon.ico">
		<link rel="stylesheet" href="../../asster/css/web.css">
		<title>股指</title>
	</head>
	<body>
		<div id="head"></div>
		<div id="sidebar"></div>
        <div class="bgbar">
			<div class="bg-img">
				<img src="../../asster/image/pc-banner-bg.jpg" alt="">
			</div>
			<div class="bg-text">
				<p>直通全球顶级金融市场</p>
				<p><span>30+股票指数</span>抢占市场先机</p>
			</div>
		</div>
        <div class="bread minbox d-flex">
            <div class="bread-left">股指</div>
            <div class="bread-right">
                <div class="bread-img">
                    <img src="../../asster/icon/page_right_common.png" alt="">
                    <span><a href="#">首页</a></span>
                    <span> → </span>
                    <span><a href="#">交易产品</a></span>
                    <span> → </span>
                    <span><a href="#">股指</a></span>
                </div>
            </div>
        </div>
        <div class="middle-title">什么是股指？</div>
        <div class="indices minbox">
            <div class="indices-top">股指又称股票价格指数，是度量和反映股票市场总体价格水平及其变动趋势而编制的股价统计相对数。股指就是用以反映整个股票市场上各种股票市场价格的总体水平及其变动情况的指标。当股票价格指数上升时，表明股票的平均价格水平上涨；当股票价格指数下跌时，表明股票的平均价格水平下降。</div>
            <div class="indices-bot d-flex">
                <div class="indices-img">
                    <img src="../../asster/image/pc-what-is-pic2.jpg" alt="">
                </div>
                <div class="indices-main">
                    <p>与股票不同，指数不能直接购买。投资者可通过购买指数基金或股票指数差价合约来交易股指。当交易股票指数差价合约时，投资者只是对标的指数的价格变化进行预判和交易。差价合约对交易者特别有吸引力，因为他们可利用经纪商所提供的杠杆，市场价格的上涨和下跌都有可能带来利润。</p>
                    <p>股指差价合约是一种金融产品，代表了公开上市公司标的的价值。标普500指数是一个领先的股指，反映了在美国证券交易所上市的500强公司的总价值。如果这些公司的股票整体价值上升，则标普500指数将走高。还有一些股指代表了在纽交所交易的规模较小的公司的指数，以及在世界各地不同证券交易所的股指，从日本日经指数到德国DAX指数等。除了像标准普尔500指数和道琼斯工业指数这样的大型指数外，还有代表纽交所交易的较小公司的指数--罗素2000，以及来自世界各地的各种股票交易所的指数，比如中国A50指数，恒生指数，日经225，德国指数，和法国指数等。</p>
                </div>
            </div>
        </div>
        <div class="whatis-button button-link d-flex middle">
			<a href="#" class="green-a"><div class="green-button">开立真实账户</div></a>
			<a href="#"><div class="blue-link">注册模拟账户</div></a>
		</div>
        <div class="middle-title">为什么选择AvaTrade爱华交易股指</div>
        <div class="choice minbox d-flex">
            <div class="choice-list">
                <div class="choice-img">
                    <img src="../../asster/icon/pc-why-icon-1.png" alt="">
                </div>
                <div class="choice-main">
                    全球5大洲7重监管，屡获殊荣，饱受金融行业媒体荣誉
                </div>
            </div>
            <div class="choice-list">
                <div class="choice-img">
                    <img src="../../asster/icon/pc-why-icon-2.png" alt="">
                </div>
                <div class="choice-main">
                    提供具有竞争力的点差，0佣金，节省您的交易成本
                </div>
            </div>
            <div class="choice-list">
                <div class="choice-img">
                    <img src="../../asster/icon/pc-why-icon-3.png" alt="">
                </div>
                <div class="choice-main">
                    杠杆灵活，股指交易最高达200倍的杠杆，可适当放大资金
                </div>
            </div>
            <div class="choice-list">
                <div class="choice-img">
                    <img src="../../asster/icon/pc-why-icon-4.png" alt="">
                </div>
                <div class="choice-main">
                    多样化的交易平台，MT4/MT5/ WebTrader/AvaTrade Go均可交易
                </div>
            </div>
            <div class="choice-list">
                <div class="choice-img">
                    <img src="../../asster/icon/pc-why-icon-5.png" alt="">
                </div>
                <div class="choice-main">
                    支持双向交易，交易全球主要股指，涨跌都有盈利可能
                </div>
            </div>
            <div class="choice-list">
                <div class="choice-img">
                    <img src="../../asster/icon/pc-why-icon-6.png" alt="">
                </div>
                <div class="choice-main">
                    一对一专属客户经理，及时为您答疑解惑，辅佐您的交易
                </div>
            </div>
        </div>
        <div class="intime minbox d-flex">
            <div class="intime-main">
                <div class="intime-title">
                    股指在线交易
                </div>
                <p>在线交易股指是一种投资世界顶级金融市场并与顶级股票市场并驾齐驱的良好方式。股指是指在该交易所上市的表现最好的公司股价的加权平均值。股指CFD（差价合约）是金融行业的衍生产品，股指CFD无须事先拥有股票，只要正确预测走势方向，即可从股市的涨跌中获益。</p>
                <b>立即开立AvaTrade爱华交易账户，享受顶级经纪商为您带来的优质服务！</b>
                <div class="whatis-button button-link d-flex" style="width:430px;">
                    <a href="#" class="green-a"><div class="green-button">开立真实账户</div></a>
                    <a href="#"><div class="blue-link">注册模拟账户</div></a>
                </div>
            </div>
            <div class="intime-video">
                <video controls src="../../asster/video/indices-video.mp4" class="confidence-video"></video>
            </div>
        </div>
        <div class="mainpro">
            <div class="minbox product-box">
                <div class="middle-title">AvaTrade爱华有哪些主要股指产品</div>
                    <table class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">外汇货币对</th>
                                <th scope="col">杠杆</th>
                                <th scope="col">MT4交易符号</th>
                                <th scope="col">交易</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">欧美/美元</a></td>
                                <td>400 : 1</td>
                                <td>EURUSD</td>
                                <td><a href="#">买</a>/<a href="#">卖</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">欧美/美元</a></td>
                                <td>400 : 1</td>
                                <td>EURUSD</td>
                                <td><a href="#">买</a>/<a href="#">卖</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">欧美/美元</a></td>
                                <td>400 : 1</td>
                                <td>EURUSD</td>
                                <td><a href="#">买</a>/<a href="#">卖</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">欧美/美元</a></td>
                                <td>400 : 1</td>
                                <td>EURUSD</td>
                                <td><a href="#">买</a>/<a href="#">卖</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">欧美/美元</a></td>
                                <td>400 : 1</td>
                                <td>EURUSD</td>
                                <td><a href="#">买</a>/<a href="#">卖</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">欧美/美元</a></td>
                                <td>400 : 1</td>
                                <td>EURUSD</td>
                                <td><a href="#">买</a>/<a href="#">卖</a></td>
                            </tr>
                            <tr>
                                <td><a href="#">欧美/美元</a></td>
                                <td>400 : 1</td>
                                <td>EURUSD</td>
                                <td><a href="#">买</a>/<a href="#">卖</a></td>
                            </tr>
                        </tbody>
                    </table>
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center bg-white">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                            <a class="page-link" href="#">2</a>
                            <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="whatis-button button-link d-flex middle">
                <a href="#" class="green-a"><div class="green-button">开立真实账户</div></a>
                <a href="#"><div class="blue-link">注册模拟账户</div></a>
            </div>
        </div>
        <div class="contract">
            <div class="minbox d-flex">
                <div class="contract-img">
                     <img src="../../asster/image/pc-why-pic.jpg" alt="">
                </div>
                <div class="contract-main">
                    <div class="contract-title">
                        为什么要交易股指差价合约？
                    </div>
                    <p>CFD股指交易为在线交易者提供了许多好处。交易差价合约（Contracts for Difference，简称CFD）使您无需实际拥有基础资产即可买卖金融产品。这些可能是大宗商品，股票或者就股指差价合约而言，就是基础指数的价值。</p>
                    <p>例如：交易者可以在CAC-40上下单。如果指数价格上涨，当他卖出时，他将获得买入和卖出价格之间的差额。如果价格下跌，交易者将支付差额。</p>
                    <p>指数价差合约是一种杠杆产品，这意味着交易员只需投入少量保证金，就能在市场上控制更大的交易头寸。杠杆可使得利润被放大，但它也可能放大交易损失。当交易价差合约指数时，投资者通过预测价格方向来获利，这意味着无论价格是上涨还是下跌都有盈利的可能。</p>
                    <p>AvaTrade为投资者提供灵活的杠杆和交易手数，交易者可通过利用杠杆，从市场上的微小价格变化中获得更多的利润，这使得指数差价合约成为短线交易策略的理想之选。</p>
                </div>
            </div>
        </div>
        <div class="middle-title">股指交易流程</div>
        <div class="minbox d-flex">
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-1.png" alt="">
                <a href="#">开立真实账户</a>
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-2.png" alt="">
                下载<a href="#">MT4</a>/<a href="#">MT5</a>软件
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-3.png" alt="">
                <a href="#">学习股指交易</a>
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-4.png" alt="">
                <a href="#">完善账户信息</a>
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-5.png" alt="">
                <a href="#">选择交易产品</a>
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <div class="flow-icon">
                <img src="../../asster/icon/flow-icon-6.png" alt="">
            </div>
                <a href="#">开始股指交易</a>
            </div>
        </div>
        <div class="whatis-button button-link d-flex middle">
            <a href="#" class="green-a"><div class="green-button">开立真实账户</div></a>
            <a href="#"><div class="blue-link">注册模拟账户</div></a>
        </div>
        <div class="class minbox">
            <div class="middle-title" style="color:#fff">AvaTrade爱华股指交易小课堂</div>
            <div class="class-content">
                <div class="class-toggle">
                    <dl>
                        <div class="class-list">
                            <dt>
                                <div class="add"><span>+</span></div>
                                <div class="shed"><span>-</span></div>
                                股指交易是如何运作的？
                            </dt>
                            <dd>股指交易是一种财务指标，用于衡量在相应证券交易所交易的一篮子股票的表现。例如，标准普尔500指数列出了纽约证交所市值最高的500家公司。通常，每只股票都会有一个相对于其市值的加权平均值，从而确定它们对指数价格的影响程度。股票指数价格是根据入股股票的实时价格计算得出的，任何波动都会根据权重影响指数价格。如何计算个股保证金。</dd>
                        </div>
                        <div class="class-list">
                            <dt>
                                <div class="add">+</div>
                                <div class="shed">-</div>
                                为什么交易股指很重要？
                            </dt>
                            <dd>股指交易通常代表交易所的特定板块，例如最有价值的公司或金融等特定领域。指数使投资者能够衡量商业活动的健康状况和表现。它们还有助于发现长期趋势，以估计投资回报并识别新的机会。股票指数通常更稳定，更可预测；因此，许多日内交易者更喜欢买卖指数差价合约，以享受稳定的趋势，同时避免买卖单个股票的倍增风险。</dd>
                        </div>
                        <div class="class-list">
                            <dt>
                                <div class="add">+</div>
                                <div class="shed">-</div>
                                哪个股票市场指数是最好的指标？
                            </dt>
                            <dd>每个股票市场指数都作为市场不同部分的金融指标。日内交易者可能更喜欢与投资组合中的市场和国家分布有关的指数。如：在美国市场，纳斯达克金融-100（NASDAQ Financial-100）涵盖了纳斯达克证券交易所的金融公司，而标普小型股600 （S＆P SmallCap 600）则衡量了纽约证券交易所的小型股。但是，如果您更喜欢交易欧洲股票，那么德国DAX 30或法国CAC40，也可以成为您的交易组合选择。</dd>
                        </div>
                        <div class="class-list">
                            <dt>
                                <div class="add">+</div>
                                <div class="shed">-</div>
                                分析股指交易的最佳方法是什么？
                            </dt>
                            <dd>每个股指都与其他指数略有不同，因此必须研究指数的详细信息，例如组成成分、权重、计算方法和交易时间等细节。从根本上说，可能会影响股票价格的因素（例如收益报告）或代表行业的因素，例如新监管规定都会对指数产生重大影响。像GDP这样的经济数据也可以通过搅动估值货币来影响价格。从技术上讲，趋势的相对稳定性使支撑位和阻力位成为价格目标和反转点的可靠指标。</dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <div class="lastbar minbox d-flex">
            <div class="lastbar-text">交易全球<span>30+</span>主要股指,多空均有盈利机会</div>
            <a href="#" class="green-a"><div class="green-button">立即开户</div></a>
        </div>
        <div id="footer"></div>
	</body>
	<script src="../../asster/js/jquery-3.5.1.min.js"></script>
	<script src="../../asster/js/jquery.i18n.js"></script>
	<script src="../../asster/js/bootstrap.js"></script>
	<script src="../../asster/js/index.js"></script>
	<script>
		$(function(){
			$('#head').load('../component/NavBar.html', function () {
				let headSrc = document.createElement("script");
				headSrc.src = "../../asster/js/bootstrap.js";
				$('body').append(headSrc)
			});
		});
		$(function(){
			$('#footer').load('../component/Footer.html');
			// $.getScript('../../asster/js/bootstrap.js');
		});
		$(function(){
			$('#sidebar').load('../component/sidebar.html');
			// $.getScript('../../asster/js/bootstrap.js');
		});
        $(function(){
            $('#collapseOne').on('show.bs.collapse', function () {
                $('.open-one').hide()
            }).on('hidden.bs.collapse', function (){
                $('.open-one').show()
            });
            $('#collapseTwo').on('show.bs.collapse', function () {
                $('.open-two').hide()
            }).on('hidden.bs.collapse', function (){
                $('.open-two').show()
            });
            $('#collapseThree').on('show.bs.collapse', function () {
                $('.open-three').hide()
            }).on('hidden.bs.collapse', function (){
                $('.open-three').show()
            })
        });
        $(function(){
            $(".class-toggle dl dd").hide();
            $(".shed").hide();
            $(".class-toggle dl dt").click(function(){
                $(this).children().toggle();
                $(this).next().slideToggle(500);
            });
        });
		// $('#footer').load('../component/Footer.html');
		// $.getScript('../../asster/js/bootstrap.js');
	</script>
    <style>
        .bg-text{
			top: 180px;
			left: 10%;
			color:#fff;
			font-size: 30px;
			font-weight: 600;
		}
		.bg-text span{
			color:#EF9120;
            font-weight: 400;
			font-size: 30px;
            margin-right: 20px;
		}
        /*什么是股指？*/
        .indices{
            color: #5b5b5b;
            margin-top: 0px;
        }
        .indices-top{
            margin-bottom: 40px;
        }
        .indices-bot{
            justify-content: space-between;
        }
        .indices-main{
            width: 570px;
        }
        .indices-main p{
            margin-bottom: 28px;
        }
        /*为什么选择AvaTrade爱华交易股指*/
        .choice{
            flex-wrap: wrap;
            height: 280px;
            align-content: space-between
        }
        .choice-list{
            width: 370px;
            display:flex;
            justify-content: space-between;
            height: 120px;
        }
        .choice-img{
            height: 120px;
            width: 80px;
            background-color: #3976f1;
            line-height: 120px;
            text-align: center;
        }
        .choice-main{
            width: 290px;
            padding: 30px 25px 0;
            text-align: left;
            line-height: 35px;
            color: #5a5a5a;
            height: 120px;
        }
        /*为什么要交易股指差价合约？*/
        .contract-main{
            padding: 35px 30px;
            box-shadow: 0 0 10px 1px rgb(55 141 196 / 35%);
        }
        .contract-title{
            font-weight: 600;
            font-size: 26px;
            margin-bottom: 20px;
        }
        .contract-main p{
            color:#5a5a5a;
            margin-bottom: 24px;
        }
    </style>
</html>