<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../asster/css/bootstrap.css">
		<link rel="shortcut icon" href="../../asster/image/favicon.ico">
		<link rel="stylesheet" href="../../asster/css/web.css">
		<title>股票</title>
	</head>
	<body>
		<div id="head"></div>
		<div id="sidebar"></div>
		<div class="bgbar">
			<div class="bg-img">
				<img src="../../asster/image/pc-banner-bg2.jpg" alt="">
			</div>
			<div class="bg-text">
				<p>交易全球<span>800+</span>知名企业股票</p>
				<p>双向交易 多空均有盈利机会 无需承担个股风险</p>
			</div>
		</div>
		<div class="whatis minbox d-flex">
			<div class="whatis-img">
				<img src="../../asster/image/pc-what-is-pic3.jpg" alt="">
			</div>
			<div class="whatis-right">
				<div class="whatis-title">什么是合约股票交易</div>
				<div class="whatis-main">
					<p>当您交易一种差价合约，您不是买进股票本身，而是一种合约。您与经纪商达成协议，敲定这种股票的进出价差。也就是说，当您与AvaTrade爱华交易股票差价合约时，您获得了一种根据股市规则通常不可能获得的灵活性。</p>
                    <p>通过这种合约，您可以轻松地卖出股票，即使市场在下跌，您也可以从价格波动中获利。这点和买进股票一样，且容易。更重要的是，因为您并不是真地买进实际资产，并且可以获得高达10:1的杠杆，您可以以小投入占有大头寸。当然，杠杆可以显著放大您的亏损，也可以显著放大您的收益。</p>
				</div>
				<div class="whatis-button button-link d-flex">
					<a href="#" class="green-a"><div class="green-button">开立真实账户</div></a>
					<a href="#"><div class="blue-link">注册模拟账户</div></a>
				</div>
			</div>
		</div>
        <div class="middle-title">合约股票交易的优势</div>
        <div class="superiority minbox d-flex">
            <div class="superiority-list">
                <img src="../../asster/icon/pc-advantage-icon-1.png" alt="">
                <div class="superiority-title">自定义股票组合</div>
                <div class="superiority-text">建立管理适合自己的优质公司投资组合</div>
            </div>
            <div class="superiority-list">
                <img src="../../asster/icon/pc-advantage-icon-1.png" alt="">
                <div class="superiority-title">自定义股票组合</div>
                <div class="superiority-text">建立管理适合自己的优质公司投资组合</div>
            </div>
            <div class="superiority-list">
                <img src="../../asster/icon/pc-advantage-icon-1.png" alt="">
                <div class="superiority-title">自定义股票组合</div>
                <div class="superiority-text">建立管理适合自己的优质公司投资组合</div>
            </div>
            <div class="superiority-list">
                <img src="../../asster/icon/pc-advantage-icon-1.png" alt="">
                <div class="superiority-title">自定义股票组合</div>
                <div class="superiority-text">建立管理适合自己的优质公司投资组合</div>
            </div>
        </div>
        <div class="intime minbox d-flex">
            <div class="intime-main">
                <div class="intime-title">
                    AvaTrade爱华股票交易
                </div>
                <p>通过AvaTrade爱华交易平台，您可以一键买进全球巨头的股票差价合约。您可以透过我们的交易平台，买卖在纽交所、纳斯达克和伦敦证交所等全球各大交易所上市的大型公司的股票，并且没有传统股票交易相应的费用或束缚。差价合约产品为杠杆交易,可以双向交易放大交易者的盈利，哪怕最小的市场波动，都有利可图。AvaTrade爱华提供最高10:1的杠杆，所以，您的保证金要求最低可到10%。</p>
                <b>立即开立AvaTrade爱华交易账户，享受顶级经纪商为您带来的优质服务！</b>
                <div class="whatis-button button-link d-flex" style="width:430px;">
                    <a href="#" class="green-a"><div class="green-button">开立真实账户</div></a>
                    <a href="#"><div class="blue-link">注册模拟账户</div></a>
                </div>
            </div>
            <div class="intime-video">
                <video controls src="../../asster/video/VideoTutorials_04.mp4" class="confidence-video"></video>
            </div>
        </div>
		<div class="middle-title">为什么选择AvaTrade爱华进行外汇交易</div>
		<div class="choose minbox d-flex">
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
			<div class="choose-list">
				<img src="../../asster/icon/pc-why-choose-icon-1.png" alt="">
				<p>提供具有竞争力的点差</p>
				<p>0佣金，节省您的交易成本</p>
			</div>
		</div>
		<div class="middle-title">
            AvaTrade爱华主要股票产品
            <div class="min-title">可提供多达600多只全球优质股票</div>
        </div>
        
		<div class="product-box minbox">
			<table class="table table-bordered">
				<thead class="thead-light">
				  <tr>
					<th scope="col">股票产品</th>
					<th scope="col">杠杆</th>
					<th scope="col">股票交易符号</th>
					<th scope="col">交易</th>
				  </tr>
				</thead>
				<tbody>
				  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
                  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
                  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
                  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
                  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
                  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
                  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
                  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
                  <tr>
					<td><a href="#">谷歌</a></td>
					<td>10</td>
					<td>#GOOGLE</td>
					<td><a href="#">买</a>/<a href="#">卖</a></td>
				  </tr>
				</tbody>
			</table>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center bg-white">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                        <a class="page-link" href="#">2</a>
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
		</div>
        <div class="middle-title">股指交易流程</div>
        <div class="minbox d-flex">
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-1.png" alt="">
                <a href="#">开立真实账户</a>
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-2.png" alt="">
                下载<a href="#">MT4</a>/<a href="#">MT5</a>软件
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-3.png" alt="">
                <a href="#">学习股指交易</a>
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-4.png" alt="">
                <a href="#">完善账户信息</a>
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <img src="../../asster/icon/flow-icon-5.png" alt="">
                <a href="#">选择交易产品</a>
            </div>
            <div class="flow-icon">
                <img src="../../asster/icon/flow-icon.png" alt="">
            </div>
            <div class="flow-list">
                <div class="flow-icon">
                <img src="../../asster/icon/flow-icon-6.png" alt="">
            </div>
                <a href="#">开始股指交易</a>
            </div>
        </div>
        <div class="class minbox">
            <div class="middle-title" style="color:#fff">AvaTrade爱华股指交易小课堂</div>
            <div class="class-content">
                <div class="class-toggle">
                    <dl>
                        <div class="class-list">
                            <dt>
                                <div class="add"><span>+</span></div>
                                <div class="shed"><span>-</span></div>
                                什么是股票差价合约？
                            </dt>
                            <dd>股票差价合约是一种以股票价格指数为标的物的金融衍生品，不涉及实物交割,靠合约建立与平仓之间的价差来决定盈亏。这种投资品种与股票期货很相似,也有些不同的。差价合约是从股票衍生并包含杠杆效应的金融产品，是买卖股票、指数、期货等行之有效的途径。</dd>
                        </div>
                        <div class="class-list">
                            <dt>
                                <div class="add">+</div>
                                <div class="shed">-</div>
                                如何计算个股保证金？
                            </dt>
                            <dd>所有保证金交易的交易产品都可以放大您的头寸。<br/>“交易条款”页面以百分比显示保证金金额。</dd>
                        </div>
                        <div class="class-list">
                            <dt>
                                <div class="add">+</div>
                                <div class="shed">-</div>
                                百分比保证金公式：交易规模X当前价格X保证金(%)=保证金要求
                            </dt>
                            <dd>*保证金是以交易产品的计价货币计算的。为免持有大头寸对应个股的客户净资产变成负值，AvaTrade爱华可能在该企业财报发布之前采取预防性措施，将某些个股的保证金要求提高。</dd>
                        </div>
                        <div class="class-list">
                            <dt>
                                <div class="add">+</div>
                                <div class="shed">-</div>
                                分析股指交易的最佳方法是什么？
                            </dt>
                            <dd>“个股交易条件”页面展示在结算时间后依然持有的未平仓头寸需要按日收取/支付隔夜利息，呈现于“隔夜利息-买入”与“隔夜利息-卖出”栏。结算时间一般在格林威治标准时间22：00，但夏令时这个时间变更为格林威治标准时间21：00。<br/>计算隔夜利息数额可用以下公式：<br/>交易规模X收盘市价X每日隔夜利率=每日隔夜利息支付/收取<br/>*支付/收取的隔夜利息以交易产品计价的货币计算的。</dd>
                        </div>
                        <div class="class-list">
                            <dt>
                                <div class="add">+</div>
                                <div class="shed">-</div>
                                股票交易途径有什么？
                            </dt>
                            <dd>现在股票交易有很多途径，第一个途径是从各个券商那里购买股票，这是一种常规的投资方式，会产生手续费和佣金，对于投资者来说交易成本较高。第二个途径是选择AvaTrade爱华股票在线交易平台，投资者可以一键交易全球股票，大大降低了交易成本和时间成本。</dd>
                        </div>
                        <div class="class-list">
                            <dt>
                                <div class="add">+</div>
                                <div class="shed">-</div>
                                常见的股票图表形态？
                            </dt>
                            <dd>股票有多种图表型态，即以移动的市价构成的型态来判断价格的走势。常见的股票图表型态包括三角形（triangle）、双顶和双底（double tops/bottoms）、头肩型（head and shoulders）、旗形（flag）、三角旗形（pennant）和楔形（wedge）...... <a href="#">查看更多>></a></a></a></dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <div class="lastbar minbox d-flex">
            <div class="lastbar-text">交易全球<span>30+</span>主要股指,多空均有盈利机会</div>
            <a href="#" class="green-a"><div class="green-button">立即开户</div></a>
        </div>
		<div id="footer"></div>
	</body>
	<script src="../../asster/js/jquery-3.5.1.min.js"></script>
	<script src="../../asster/js/jquery.i18n.js"></script>
	<script src="../../asster/js/bootstrap.js"></script>
	<script src="../../asster/js/index.js"></script>
	<script>
		$(function(){
			$('#head').load('../component/NavBar.html', function () {
				let headSrc = document.createElement("script");
				headSrc.src = "../../asster/js/bootstrap.js";
				$('body').append(headSrc)
			});
		});
		$(function(){
			$('#footer').load('../component/Footer.html');
			// $.getScript('../../asster/js/bootstrap.js');
		});
		$(function(){
			$('#sidebar').load('../component/sidebar.html');
			// $.getScript('../../asster/js/bootstrap.js');
		});
        $(function(){
            $(".class-toggle dl dd").hide();
            $(".shed").hide();
            $(".class-toggle dl dt").click(function(){
                $(this).children().toggle();
                $(this).next().slideToggle(500);
            });
        });
		// $('#footer').load('../component/Footer.html');
		// $.getScript('../../asster/js/bootstrap.js');
	</script>
	<style>
		.bg-text{
			top: 180px;
			left: 10%;
			color:#fff;
			font-size: 38px;
			font-weight: 600;
		}
		.bg-text span{
			color:#FF9F00;
			font-size: 40px;
            font-weight: 700;
		}
        /*what is*/
        .whatis-main{
            margin: 20px 0;
            line-height:25px;
        }
        .whatis-main p{
            margin-bottom: 0;
        }
        /*合约股票交易的优势*/
        .superiority-list{
            text-align: center;
        }
        .superiority-title{
            margin: 16px 0;
            font-weight:600;
            font-size: 20px;
        }
        /*last bar*/
        .lastbar{
            background-image: url('../../asster/image/pc-bottom-bg.png');
        }
	</style>
</html>