<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../asster/css/bootstrap.css">
  <link rel="shortcut icon" href="../../asster/image/favicon.ico">
  <title>导航栏</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="">
          <a class="nav-link text-white" href="#">✉邮箱 <span class="sr-only">(current)</span></a>
        </li>
        <li class="">
          <a class="nav-link text-white" href="#">💬在线聊天 <span class="sr-only">(current)</span></a>
        </li>
        <li class="">
          <a class="nav-link text-white" href="#">📞电话：400 050 7282<span class="sr-only">(current)</span></a>
        </li>
        <li class=" dropdown down">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span i18n="i18n.themselves">中文简体</span>
          </a>
          <div class="dropdown-menu language" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" id="cn">简体中文</a>
            <a class="dropdown-item" href="#" id="tn">繁體中文</a>
            <a class="dropdown-item" href="#" id="en">English</a>
          </div>
        </li>
      </ul>
      <ul class="loginlist">
        <li><a href="">登录</a></li>
        <div style="display:inline-block;width:1px;height:20px;background-color: #fff;"></div>
        <li class="signin">
          <a href="#" style="color:#EB9C0B">
            注册
          </a>
          <div class="signbig">
            <div class="signtop">
              开立真实账户
            </div>
            <div class="signbot">
              注册模拟账户
            </div>
          </div>
        </li>
      </ul>
    </div>
    
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class=" navbar-collapse xiala" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto bot-bar">
        <li class="nav-item active">
          <a class="nav-link" href="../views/index.html"><img src="../../asster/image/logo.png" alt=""> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link avaon" href="#">AVA优势 <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link pingtaion" href="#">交易平台<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link chanpinon" href="#">交易产品<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link xinxion" href="#">交易信息<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link hezuoon" href="#">代理合作</span><span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link zhongxinon" href="#">学习中心<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link womenon" href="#">关于我们<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light ava down-box" aria-labelledby="navbarDropdown">
    <div class=" navbar-collapse">
      <div class="down-left">
        <div>AVA优势</div>
      </div>
      <div class="down-right">
        <ul class="down-menu">
          <li><a href="../ava/regulation.html">多重市场监管</a></li>
          <li><a href="../ava/depositwithdraw.html">便捷的出入金</a></li>
          <li><a href="../ava/avaprotect.html">AvaProtect</a></li>
          <li><a href="../ava/friends-referral.html">亲友推荐</a></li>
        </ul>
        <ul class="down-menu">
          <li><a href="../ava/safetyoffunds.html">资金安全</a></li>
          <li><a href="../ava/Avaadvantage.html">AVA优势特点</a></li>
          <li><a href="../ava/avasocial.html">AvaSocial</a></li>
          <li><a href="">至尊之战</a></li>
        </ul>
      </div>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light pingtai down-box" aria-labelledby="navbarDropdown">
    <div class="navbar-collapse">
      <div class="down-left">
        <div>交易平台</div>
      </div>
      <div class="down-right">
        <ul class="down-menu">
          <li><a href="../platform/trading-platform.html">平台综述</a></li>
          <li><a href="">MetaTrader 5</a></li>
          <li><a href="">AvaOptions</a></li>
          <li><a href="">自动化交易工具</a></li>
          <li><a href="">Mac交易平台</a></li>
          <li><a href="">自动化技术分析</a></li>
          
        </ul>
        <ul class="down-menu">
          <li><a href="../platform/MetaTrader4.html">MetaTrader 4</a></li>
          <li><a href="">WebTrader</a></li>
          <li><a href="">网页交易平台</a></li>
          <li><a href="">AvaTradeGO</a></li>
          <li><a href="">手机交易平台</a></li>
        </ul>
      </div>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light chanpin down-box" aria-labelledby="navbarDropdown">
    <div class="navbar-collapse">
      <div class="down-left">
        <div>交易产品</div>
      </div>
      <div class="down-right">
        <ul class="down-menu">
          <li><a href="">产品综述</a></li>
          <li><a href="../views/commodities.html">大宗商品</a></li>
          <li><a href="">股指</a></li>
        </ul>
        <ul class="down-menu">
          <li><a href="">外汇交易</a></li>
          <li><a href="">股票</a></li>
          <li><a href="">差价合约</a></li>
        </ul>
      </div>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light xinxi down-box" aria-labelledby="navbarDropdown">
    <div class="navbar-collapse">
      <div class="down-left">
        <div>交易信息</div>
      </div>
      <div class="down-right">
        <ul class="down-menu">
          <li><a href="">交易条款</a></li>
          <li><a href="">交易时间</a></li>
        </ul>
        <ul class="down-menu">
          <li><a href="">差价合约展期</a></li>
          <li><a href="">金融索引工具</a></li>
        </ul>
      </div>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light hezuo down-box" aria-labelledby="navbarDropdown">
    <div class="navbar-collapse">
      <div class="down-left">
        <div>代理合作</div>
      </div>
      <div class="down-right">
        <ul class="down-menu">
          <li><a href="">代理人计划</a></li>
          
        </ul>
        <ul class="down-menu">
          <li><a href="">MAM多账户管理系统</a></li>
        </ul>
      </div>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light zhongxin down-box" aria-labelledby="navbarDropdown">
    <div class="navbar-collapse">
      <div class="down-left">
        <div>学习中心</div>
      </div>
      <div class="down-right">
        <ul class="down-menu">
          <li><a href="">视频教程</a></li>
          <li><a href="">外汇电子书</a></li>
          <li><a href="">外汇术语</a></li>
          <li><a href="">订单类型</a></li>
        </ul>
        <ul class="down-menu">
          <li><a href="">在线课堂</a></li>
          <li><a href="">经济指标</a></li>
          <li><a href="">交易新手入门</a></li>
          <li><a href="">外汇行情动态</a></li>
          <li><a href="">专业交易策略</a></li>
        </ul>
      </div>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light women down-box" aria-labelledby="navbarDropdown">
    <div class="navbar-collapse">
      <div class="down-left">
        <div>AVA优势</div>
      </div>
      <div class="down-right">
        <ul class="down-menu">
          <li><a href="">多重市场监管</a></li>
          <li><a href="">便捷的出入金</a></li>
          <li><a href="">AvaProtect</a></li>
          <li><a href="">亲友推荐</a></li>
        </ul>
        <ul class="down-menu">
          <li><a href="">资金安全</a></li>
          <li><a href="">AVA优势特点</a></li>
          <li><a href="">AvaSocial</a></li>
          <li><a href="">至尊之战</a></li>
          <li><a href="">至尊之战</a></li>
        </ul>
      </div>
      </ul>
    </div>
  </nav>
  <script src="../../asster/js/jquery-3.5.1.min.js"></script>
  <script src="../../asster/js/bootstrap.js"></script>
  <script src="../../asster/js/jquery.i18n.js"></script>
  <script src="../../asster/js/index.js"></script>
  <script>
    $(function(){
      $(".down").mouseover(function(){
        $(".language").show();
      }).mouseout(function(){
        $(".language").hide();
      });
      $(".ava").hide();
      $(".avaon").mouseover(function(){
        $(".ava").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      });
      $(".ava").mouseover(function(){
        $(".ava").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      }).mouseout(function(){
        $(".ava").hide();
      });

      $(".pingtai").hide();
      $(".pingtaion").mouseover(function(){
        $(".pingtai").show();
        $(".ava").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      });
      $(".pingtai").mouseover(function(){
        $(".pingtai").show();
        $(".ava").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      }).mouseout(function(){
        $(".pingtai").hide();
      });

      $(".chanpin").hide();
      $(".chanpinon").mouseover(function(){
        $(".chanpin").show();
        $(".pingtai").hide();
        $(".ava").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      });
      $(".chanpin").mouseover(function(){
        $(".chanpin").show();
        $(".pingtai").hide();
        $(".ava").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      }).mouseout(function(){
        $(".chanpin").hide();
      });

      $(".xinxi").hide();
      $(".xinxion").mouseover(function(){
        $(".xinxi").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".ava").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      });
      $(".xinxi").mouseover(function(){
        $(".xinxi").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".ava").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      }).mouseout(function(){
        $(".xinxi").hide();
      });

      $(".hezuo").hide();
      $(".hezuoon").mouseover(function(){
        $(".hezuo").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".ava").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      });
      $(".hezuo").mouseover(function(){
        $(".hezuo").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".ava").hide();
        $(".zhongxin").hide();
        $(".women").hide();
      }).mouseout(function(){
        $(".hezuo").hide();
      });

      $(".zhongxin").hide();
      $(".zhongxinon").mouseover(function(){
        $(".zhongxin").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".ava").hide();
        $(".women").hide();
      });
      $(".zhongxin").mouseover(function(){
        $(".zhongxin").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".ava").hide();
        $(".women").hide();
      }).mouseout(function(){
        $(".zhongxin").hide();
      });

      $(".women").hide();
      $(".womenon").mouseover(function(){
        $(".women").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".ava").hide();
      });
      $(".women").mouseover(function(){
        $(".women").show();
        $(".pingtai").hide();
        $(".chanpin").hide();
        $(".xinxi").hide();
        $(".hezuo").hide();
        $(".zhongxin").hide();
        $(".ava").hide();
      }).mouseout(function(){
        $(".women").hide();
      });

      $(".navbar-toggler").click(function(){
        if (".xiala")
        $(".bot-bar").toggle();
      })

      $(".signin").mouseover(function(){
        $(".signbig").show();
      }).mouseout(function(){
        $(".signbig").hide();
      });
      $(".signbig").mouseover(function(){
        $(".signbig").show();
      }).mouseout(function(){
        $(".signbig").hide();
      })
    })
  </script>
</body>
<style>
  nav{
    font-size: 14px;
  }
  .navbar{
    padding: 0 !important;
  }
  .navbar-collapse{
    margin: 0 auto;
    max-width: 1200px;
  }
  .carousel-indicators li{
    opacity: 1 !important;
  }
  .bot-bar{
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .nav-link{
    font-weight: 600;
  }
  .nav-link:hover{
    color:#2583C2 !important;
  }
  .language{
    position: absolute;
    top: 30px !important;
  }
  .down-box{
    position: absolute !important;
    z-index: 10;
    width: 100%;
    display:flex;
    background-color:#e2e8f0;
  }
  .down-left{
    width: 30%;
    height: 100%;
    line-height: 90%;
    text-align:right;
    font-size: 28px;
    color:#2583C2
  }
  .down-right{
    width: 69%;
  }
  .down-right ul{
    vertical-align:top
  }
  .down-menu{
    width: 49%;
    display:inline-block;
  }
  .down-menu li{
    list-style-type:none;
    width:50%;
    margin:0 auto;
    height: 50px;
    line-height: 50px;
  }
  .down-menu li a{
    color:#333;
    font-weight: 600;
  }
  .down-menu li a:hover{
    text-decoration:none;
    color:#2583C2
  }
  .loginlist{
    list-style-type:none;
    margin-bottom: 0;
    margin-right: 60px;
  }
  .loginlist li{
    display:inline-block;
    width: 60px;
    text-align: center;
  }
  .loginlist li a{
    color:#fff;
  }
  .loginlist li a:hover{
    text-decoration:none
  }
  .signin{
    position:absolute;
    top:10px;
  }
  .signbig{
    position:absolute;
    top: 20px;
    background-color: #fff;
    z-index: 15;
    padding: 20px;
    right:0;
    display: none;
  }
  .signtop{
    background-color:#80b644;
    color:#fff;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
    width:160px;
    height:36px;
    line-height:26px;
  }
  .signtop:hover{
    background-color:#80c730;
    cursor:pointer;
  }
  .signbot{
    border: 1px solid;
    height: 36px;
    line-height: 36px;
    border-radius: 4px;
  }
  .signbot:hover{
    cursor:pointer
  }
</style>
</html>