a:hover{
    text-decoration:none;
}
.blue-text-a{
    color:#2882c0;
}
.gray-text-a{
    color:#5b5b5b;
}
.gray-text-b{
    color:#666666;
}
.bgbar{
    height:300px;
    overflow-x:hidden;
}
.bg-text{
    position:absolute;
}
.p-14{
    font-size: 14px;
}
.middle{/*居中*/
    margin: 0 auto;
}
.minbox{/*居中盒子*/
    width:96%;
    max-width:1200px;
    margin:60px auto;
    justify-content: space-between;
}
.middle-title{/*居中标题*/
    text-align: center;
    font-weight:600;
    font-size: 26px;
    margin: 30px 0;
}
.min-title{/*居中小标题*/
    text-align: center;
    font-weight:normal;
    font-size: 14px;
    margin-top: 10px;
    color:#5a5a5a
}
/*面包屑导航*/
.bread{
    justify-content: space-between;
    border-bottom: 1px solid #e2e8f0;
}
.bread-left{
    color: #00468e;
    border-bottom: 2px solid #00468e;
    line-height: 34px;
}
.bread-right a{
    font-size: 14px;
    color: #666666;
    line-height: 34px;
}
.bread-right a:hover{
    text-decoration: none;
    color: #666666;
}
/*绿色按钮加蓝色链接*/
.button-link{
    width: 570px;
    justify-content:space-between;
}
.green-button{
    color: #fff;
    width:260px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;
    background-color: #78b539;
    border-radius: 5px;
}
.button-link .green-a{
    text-decoration: none;
}
.button-link .blue-link{
    text-decoration:underline;
    font-size: 20px;
    color: #4281bc;
    line-height: 60px;
}
/*什么是外贸交易*/
.whatis-right{
    width: 740px;
}
.whatis-title{
    font-size: 26px;
    font-weight: 600;
}
.whatis-main{
    margin: 32px 0;
    line-height: 32px;
    color:#5a5a5a;
}
/*为什么选择*/
.choose{
    padding: 0 44px;
    flex-wrap: wrap;
    height: 520px;
    align-content: space-between;
}
.choose-list{
    width: 280px;
    height: 240px;
    border: 1px solid #4281bc;
    border-radius: 5px;
    padding: 40px 0;
    text-align: center;
    color: #5a5a5a;
    line-height: 30px;
}
.choose-list:hover{
    border: none;
    box-shadow: 0 1px 9px 1px rgb(140 189 248 / 31%);
}
.choose-list img{
    margin-bottom:  20px;
}
.choose-list p{
    margin-bottom: 5px;
}
/*产品列表*/
.product-box{
    padding: 0 44px;
}
.product-box table{
    box-shadow: 0 0 10px 1px rgb(55 141 196 / 35%);
}
.product-box th{
    text-align: center;
    vertical-align: middle !important;
    height: 80px;
    background-color: #224674 !important;
    color: #fff !important;
}
.product-box td{
    text-align: center;
}
.product-box td a{
    color: #378dc4;
}
.product-box td a:hover{
    text-decoration: none;
}
/*AvaTrade爱华股指交易小课堂*/
.class{
    background: url('../../asster/image/pc-main-products.png') ;
    background-position: top;
    background-size: 100% auto;
    background-repeat: no-repeat;
    padding-top: 10px;
}
.class-content{
    padding: 0 40px;
}
.class-toggle{
    padding: 0 50px;
    background-color: #fff;
    box-shadow: 0 0 10px 1px rgb(40 130 192 / 35%);
}
.class-list{
    border-bottom: 1px solid #e7e7e7;
    padding: 20px 0;
}
.class-list dt{
    font-size: 20px;
    font-weight: normal;
    display: inline;
}
.add,.shed{
    display: inline-block;
    width: 20px;
}
.class-list dd{
    margin-top: 8px;
    color: #999999;
}
/*last bar*/
.lastbar{
    background: url('../../asster/image/m-bottom-pic.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;  
    padding: 40px 0;
}
.lastbar a:hover{
    text-decoration: none;
}
.lastbar-text{
    font-size: 26px;
    font-weight: bold;
    color: #fff;
    margin-left: 100px;
}
.lastbar-text span{
    font-size: 36px;
    color:#ee8d18;
}
.lastbar .green-button{
    margin-right: 100px;
}
/*股指在线交易*/
.intime{
    justify-content: space-between;
}
.intime-main{
    width: 560px;
    height: 330px;
    display:flex;
    justify-content: space-between;
    flex-direction: column
}
.intime-title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 24px;
}
.intime-video video{
    width: 590px;
    height: 330px;
}
/*AvaTrade爱华有哪些主要股指产品*/
.mainpro{
    background-color: #f2f4f4;
    padding: 1px 0 60px;
}
.mainpro .minbox{
    padding: 0 44px;
}
.product-box table th{
    height: 44px;
}
.product-box table td{
    background-color:#fff
}
.page-item{
    display:flex
}
/*股指交易流程*/
.flow-list{
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}
.flow-list img{
    display:block;
    margin: 0 auto;
}
.flow-icon{
    line-height: 80px;
}
/*侧边导航*/
.left-title{
    font-size:30px;
    text-align: center;
    font-weight: 400;
}
.left-box{
    width: 228px;
}
.left-ul ul{
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
}
.left-ul li{
    width: 228px;
    font-size: 14px;
    color:#666666;
    background-color: #f9f9f9;
    padding: 8px 0 8px 30px;
}
.left-ul li:hover{
    background-color: #2882c0;
    color: #fff;
}
.left-ul li:hover a{
    color: #fff;
}
.left-ul li a{
    color:#666666;
}
.left-ul ul a:hover{
    text-decoration: none;
}
.left-ul li ul li{
    width:auto;
}
.left-list{
    display: flex;
    justify-content: space-between
}
.left-list span{
    font-size: 12px;
    font-weight: 800;
    text-align: center;
}
.left-list svg{
    margin-right: 16px;
}
.li-b{
    padding: 8px 5px !important;
    cursor: pointer;
}
.left-ul ul ul li{
    padding: 8px 0 8px 40px;
}
.li-active{
    background-color: #0067ac !important;
    color: #fff !important;
}
.li-active a{
    color: #fff !important;
}
.left-adv{
    background-color: #f9f9f9;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 50px;
}
.left-adv img{
    margin-bottom: 10px;
}
.left-adv-a img{
    border: 2px solid green
}
.left-adv-b img{
    border: 2px solid #00008b;
}
.right-box{
    width: 937px;
}
/*half-box*/
.half-box{
    display: flex;
    justify-content: space-between;
}
.half-left{
    width: 50%;
}
.half-right{
    width: 50%;
}